button {
	// font-family: 'Satisfy', cursive;
	letter-spacing: 1.2px;
	color: $backgroundColor;
	padding: 10px;
	background: rgba($primaryRed, 0.9);
	border: 1px solid rgba($secondaryGrey, 0.4);
	border-radius: 2px;
	outline-color: $secondaryGrey;
	transition: all 0.3s;
	position: relative;
	&:after {
		content: '';
		background: rgba($primaryRed, 0.4);
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		height: 100%;
		width: 0;
		transition: all 0.3s;
	}
	&:hover {
		color: $secondaryGrey;
		&:after {
			width: 100%;
		}
	}
}
