.userInputs {
	display: flex;
	flex-direction: column;
	label {
		margin: 5px 1px;
	}

	input {
		background: rgba($backgroundColor, 0.9);
		border: 1px solid rgba($secondaryGrey, 0.4);
		border-radius: 2px;
		outline-color: $primaryRed;
		color: $secondaryGrey;
		min-height: 50px;
		padding: 10px;
		margin: 5px 0;
		&:-webkit-autofill {
		    -webkit-box-shadow: 0 0 0 1000px linen inset !important;
		}
	}
	button {
		width: 30%;
		min-height: 40px;
		margin: auto;
	}
}

.inputFlex {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.ingredientInput, .queryInput {
	display: flex;
	flex-direction: column;
}

.ingredientInput {
	width: 60%;
}

.queryInput {
	width: 38%;
}

@media (max-width: 480px) {
	.inputFlex {
		flex-direction: column;
		margin: 10px;
		margin-bottom: 25px;
	}
	.ingredientInput, .queryInput {
		width: 100%;
	}

	.userInputs {
		button {
			width: 60%;
		}
	}
}