article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.navigation {
  background: linear-gradient(to bottom, rgba(250, 240, 230, 0.4), rgba(250, 240, 230, 0.5), rgba(250, 240, 230, 0.1));
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px; }

.navLogo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.5s; }
  .navLogo svg {
    width: 50px;
    height: 50px; }
  .navLogo h2 {
    font-family: 'Satisfy', cursive; }

.navList {
  list-style: none;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .navList li {
    padding: 5px; }

header {
  text-align: center; }

button {
  letter-spacing: 1.2px;
  color: #5b4f4f;
  padding: 10px;
  background: rgba(205, 92, 92, 0.4);
  border: 1px solid rgba(91, 79, 79, 0.4);
  border-radius: 2px;
  outline-color: #5b4f4f;
  transition: all 0.3s;
  position: relative; }
  button:after {
    content: '';
    background: rgba(250, 240, 230, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 0;
    transition: all 0.3s; }
  button:hover {
    color: #CD5C5C; }
    button:hover:after {
      width: 100%; }

.userInputs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .userInputs label {
    margin: 5px 1px; }
  .userInputs input {
    background: rgba(250, 240, 230, 0.4);
    border: 1px solid rgba(91, 79, 79, 0.4);
    border-radius: 2px;
    outline-color: #CD5C5C;
    color: #5b4f4f;
    min-height: 50px;
    padding: 10px;
    margin: 5px 0; }
  .userInputs button {
    width: 30%;
    min-height: 40px;
    margin: auto; }

.inputFlex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px; }

.ingredientInput, .queryInput {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.ingredientInput {
  width: 60%; }

.queryInput {
  width: 38%; }

@media (max-width: 480px) {
  .inputFlex {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 25px; }
  .ingredientInput, .queryInput {
    width: 100%; }
  .userInputs button {
    width: 60%; } }

.recipesContainer {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.recipeMatch {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: calc(30% - 20px);
  margin: 10px;
  transition: all 0.5s; }

.recipeImage {
  text-align: center;
  background-color: rgba(250, 240, 230, 0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  width: 100%;
  height: 250px; }

.infoBox {
  background-color: rgba(250, 240, 230, 0.4);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 2px;
  width: 100%; }

@media (max-width: 768px) {
  .recipeMatch {
    width: calc(50% - 20px); } }

@media (max-width: 480px) {
  .recipeMatch {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: calc(100% - 20px); } }

.singleRecipeBackground {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(91, 79, 79, 0.6); }

.singleRecipeContainer {
  padding: 40px;
  border-radius: 10px;
  width: 60%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(250, 240, 230, 0.8);
  position: relative; }
  .singleRecipeContainer img {
    max-width: 100%; }
  .singleRecipeContainer h2, .singleRecipeContainer h3 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin: 0; }

.singleRecipeFlex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.singleRecipeImage, .ingredientContainer {
  width: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.closeButton {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 25px;
  height: 25px; }

@media (max-width: 940px) {
  .singleRecipeContainer {
    width: 80%; } }

@media (max-width: 768px) {
  .singleRecipeFlex {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .singleRecipeImage, .ingredientContainer {
    width: 100%; }
  .singleRecipeContainer {
    margin: 20px auto; } }

html {
  font-size: 62.5%; }

body {
  background: url("../assets/kitchen-bground.jpg") no-repeat center;
  background-size: cover;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  font-family: 'Raleway', sans-serif;
  color: #5b4f4f;
  position: relative; }

.overlay {
  background: linear-gradient(to bottom, rgba(250, 240, 230, 0.4), rgba(250, 240, 230, 0.5), rgba(250, 240, 230, 0.1));
  min-height: 100vh; }

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 3.6rem;
  margin: 0; }
  h1 .specialCase {
    color: #CD5C5C;
    font-size: 5.2rem; }

h2 {
  text-align: center; }

a {
  text-decoration: none;
  color: #5b4f4f;
  transition: all 0.5s; }
  a:visited {
    color: #5b4f4f; }
  a:hover {
    text-decoration: underline;
    color: #CD5C5C; }

.wrapper {
  max-width: 1080px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto; }

footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 5px; }
  footer p {
    margin: auto; }
  footer .myName {
    color: #CD5C5C; }
